.info-box {
    flex  : 1;
    cursor: pointer;
}

.info-box {
    margin: 10px;
}

.info-box--active {
    border-top: 10px solid greenyellow;
}

.info-box--red {
    border-color: red;
}

.info-box--green {
    color: limegreen !important;
}

.info-box__title {
    margin-bottom: 0.2rem !important;
}

.info-box__cases {
    margin-bottom: 0.5rem;
    font-size    : 1.75rem;
    font-weight  : 600;
    color        : #cc1034;
}

.info-box__total {
    font-size: 0.8rem !important;
}