.app {
	display        : flex;
	justify-content: space-evenly;
	padding        : 20px;
}

.app__left {
	flex: 0.9;
}

.app__right {
	display       : flex;
	flex-direction: column;
}

.app__right .MuiCardContent-root {
	display       : flex;
	flex-direction: column;
	flex-grow     : 1;
}

.app__graph-title {
	margin-top   : 20px;
	margin-bottom: 20px;
}

.app__stats {
	display        : flex;
	justify-content: space-between;
}

@media (max-width: 990px) {
	.app {
		flex-direction: column
	}
}