.app {
	display        : flex;
	justify-content: space-evenly;
	padding        : 20px;
}

.app__header {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	margin-bottom  : 20px;
}

.app__header>h1 {
	font-size: 2rem;
	color    : #fc3c3c;
}

.app__dropdown {
	background-color: white;
}

.app__left {
	flex: 0.9;
}

.app__right {
	display       : flex;
	flex-direction: column;
}

.app__right .MuiCardContent-root {
	display       : flex;
	flex-direction: column;
	flex-grow     : 1;
}

.app__graph-title {
	margin-top   : 20px;
	margin-bottom: 20px;
}

.app__stats {
	display        : flex;
	justify-content: space-between;
}

@media (max-width: 990px) {
	.app {
		flex-direction: column
	}
}